<div class="task-lists">
  <app-task-list class="list-container" *ngFor="let list of lists">
    <app-task-header [header]="list.name"
                     (newTask)="launchNewTaskDialog()"
                     (moveAll)="launchCopyTaskDialog()"
                     (DelList)="launchDelListConfirmDialog()"
                     (EditList)="launchEditTaskDialog()"
    ></app-task-header>
    <app-task-item *ngFor="let task of list.tasks"
                   [item]="task"
                   (clickTask)="launchUpdateTaskDialog(task)"
    ></app-task-item>
  </app-task-list>
</div>

<button md-fab type="button" class="fab-button" (click)="launchNewListDialog()">
  <md-icon>add</md-icon>
</button>