<form>
  <h3 md-dialog-title>邀请组员:</h3>
  <div md-dialog-content>
    <md-input-container class="full-width">
      <input mdInput type="text" placeholder="组员姓名" [mdAutocomplete]="autoMembers">
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <button md-raised-button color="primary" type="button" (click)="onSave()">保存</button>
    <button md-dialog-close md-raised-button type="button">关闭</button>
  </div>
</form>

<md-autocomplete #autoMembers="mdAutocomplete" [displayWith]="dispalyUser">
  <md-option *ngFor="let item of items" [value]="item">
    {{item.name}}
  </md-option>
</md-autocomplete>