@import "theme.scss";
html, body, app-root, md-sidenav-container, .side {
  width: 100%;
  height: 100%;
  margin: 0;
}

.side {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.fill-remaining-space {
  flex:1 1 auto;
}

.full-width {
  width: 100%;
}

.square {
  width: 100px;
  height: 100px;
  background-color: black;
}